.add-vote {
  width: 100px;

  border-radius: 15px;
  margin: 0px 10px;
  font-weight: bold;
  padding: 5px;
  background-color: #003060;
  cursor: pointer;
  color: white;
}
.decrease-vote {
  width: 100px;
  border-radius: 15px;
  margin: 0px 10px;
  font-weight: bold;
  padding: 5px 5px;
  background-color: #003060;
  cursor: pointer;
  color: white;
}
.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px;
  h2 {
    margin-bottom: 0px;
  }
}
